
$ui-dark-base: hsl(209, 23%, 22%);
$bg-dark-color: hsl(207, 26%, 17%);
$text-dark: hsl(0, 0%, 100%);


$text-light: hsl(200, 15%, 8%);
$bg-light-color: hsl(0, 0%, 98%);
$ui-light-base: hsl(0, 0%, 100%);



$font-base: "Nunito Sans", sans-serif;