.filter_container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;

  @media (max-width: 600px) {
    flex-direction: column;
    margin: 1.5rem 1rem auto;
    gap: 2rem;
    align-items: flex-start;
  }
}
