@import "../../sass/variable";

.header[data-theme="dark"] {
  background-color: $ui-dark-base;
  color: $text-dark;
}

.header[data-theme="light"] {
  background-color: $ui-light-base;
  color: $text-light;
  border-bottom: 0.1rem solid rgb(246, 236, 236);
}

.header {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 2rem;

  .header_container {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 18px;
      font-weight: 800;
      background-color: $ui-light-base;
      border: none;
      text-decoration: none;
      color: black;
    }

    .switcher {
      font-size: 12px;
      font-weight: 600;
      width: 5rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
